<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista studentów</title>
        <style>
            table, tr, td{
                border:1px solid black;
                padding: 2px;
            }
        </style>
    </head>
    <body>
        <h3>Lista studentów: </h3>
        <table>
            <tr>
                <th>Imie</th><th>Nazwisko</th><th>Indeks</th><th>E-mail</th>
            </tr>
                {{ range . }}
                <tr>
                    <td>{{ .Imie }}</td><td>{{ .Nazwisko }}</td><td>{{ .Indeks }}</td><td>{{ .Email }}</td>
                </tr>
                {{ end }}
        </table>
    </body>
</html>